:root {
  --main-color: #D2BCE1;
  --secondary-color: #9353B2;
  --accent-color: #56555E;
  --text-color: #2C2C34;
}

body {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  font-family: 'Montserrat', sans-serif !important;
  color: var(--text-color);
  background-size: cover;
  background-attachment: fixed;
  height: auto;
}

.container-box {
  background-color: #fff;
  box-shadow: 0 30px 50px rgb(65 50 100 / 8%);
  border-radius: 5px;
  max-width: 90%;
  margin: 15px auto;
  padding: 20px 30px;
}
.App {
  text-align: center;
}
.App-logo {
  height: 200px;
}

a {
  color: var(--secondary-color);
  
}
footer {
  display: block;
  font-size: .9rem;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

/*Responsive Styles */
@media (min-width: 1300px) {
  .container-box {
  max-width: 900px
  }
}
@media (max-width: 400px) {
  .container-box {
    max-width: 90%;
  }
  .App-logo {
    height: 150px;
  }
  form div {
    flex-wrap: wrap;
  }
  .mx-1 {
    margin: 5px 0px 0px 0px !important;
  }
}
