:root {
  --main-color: #B18FCF;
  --secondary-color: #D8D8F6;
  --accent-color: #777683;
  --text-color: #2C2C34;
}

body {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  font-family: 'Montserrat', sans-serif !important;
  color: var(--text-color);
}

.container-box {
  background-color: #fff;
  border-radius: 5px;
  max-width: 80%;
  margin: 10px auto;
  padding: 10px 20px;
}
.App {
  text-align: center;
}
.App-logo {
  height: 80px;
}
a {
  text-decoration: none;
  color: var(--main-color);
  
}
footer {
  display: block;
  text-align: center;
}

/*Responsive Styles */
@media (min-width: 1400px) {
  .container-box {
    max-width: 1140px;
  }
}
@media (min-width: 1200px) {
  .container-box {
    max-width: 1320px;
  }
}
@media (min-width: 990px) {
  .container-box {
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .container-box {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container-box {
    max-width: 540px;
  }
}