:root {
    --main-color: #B18FCF;
    --secondary-color: #D8D8F6;
    --accent-color: #777683;
    --text-color: #2C2C34;
  }
h1 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 2rem;
    font-weight: 500;
}
h2 {
    font-family: 'Open Sans', sans-serif !important;
}
.btn {
    background-color: var(--accent-color) !important;
    color: #fff;
}
.suggestions {
    font-style: italic;
    font-size: .8rem;
    color: var(--accent-color);
    padding-top: 5px;
}