:root {
    --main-color: #B18FCF;
    --secondary-color: #9353B2;
    --accent-color: #56555E;
    --text-color: #2C2C34;
  }
h1 {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 2rem;
    font-weight: 500;
}
h2 {
    font-family: 'Open Sans', sans-serif !important;
}
.btn {
    background-color: var(--accent-color) !important;
    color: #fff !important;
}
.btn:hover {
    background-color: var(--text-color) !important;
}
.suggestions {
    font-style: italic;
    font-size: .8rem;
    color: var(--accent-color);
    padding-top: 5px;
}