:root {
    --main-color: #B18FCF;
    --secondary-color: #D8D8F6;
    --accent-color: #777683;
    --text-color: #2C2C34;
}
h3 {
    font-size: 1rem;
    font-weight: 600;

}
.examples {
      font-style: italic;
      color: var(--accent-color);
}