:root {
    --main-color: #B18FCF;
    --secondary-color: #9353B2;
    --accent-color: #56555E;
    --text-color: #2C2C34;
}
ul {
    padding: 0px;
}
li {
    list-style-type: none;
    color: var(--accent-color);
}